version: '3.8'

services:
    db:
        image: postgres
        container_name: db_PROJECTNAME
        restart: always
        volumes:
            - db-data:/var/lib/potgresql/data
        ports:
            - "DBPORT:5432"
        environment:
            POSTGRES_USER: 'DBUSER'
            POSTGRES_PASSWORD: 'DBPASS'
            POSTGRES_DB:'DBNAME'
        networks:
            - dev

    maildev:
        image: maildev/maildev
        container_name: maildev_PROJECTNAME
        command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS
        ports:
            - "MAILPORT:80"
        restart: always
        networks:
            - dev

    pgadmin:
        image: dpage/pgadmin4
        container_name: pgadmin_PROJECTNAME
        restart: always
        ports:
            - "PGADMINPORT:80"
        environment:
            PGADMIN_DEFAULT_EMAIL: DBROOTEMAIL
            PGADMIN_DEFAULT_PASSWORD: DBROOTPASSWORD
        networks:
            - dev

    www:
        build: docker
        container_name: www_PROJECTNAME
        restart: always
        ports:
            - "WWWPORT:80"
        volumes:
            - ./docker/vhosts:/etc/apache2/sites-enabled
            - ./:/var/www
        networks:
            - dev

networks:
    dev:

volumes:
    db-data:
